main
*.aux
main.pdf
main.synctex.gz

*.out
*.bcf
*.run.xml
*.toc
*.mtc*
*.log
*.maf
*.synctex(busy)
*.idx
*.ilg
*.ind
*.gz
TerrariaWiringTutorial_onscreen.pdf
TerrariaWiringTutorial_printed.pdf
TerrariaWiringTutorial_nightmode.pdf
*.fdb_latexmk
*.fls
/sch
/robustExternalize
*.memo
*.auxlock
*.figlist
*.makefile
*.mmz
*.tmp
TerrariaWiringTutorial_onscreen-robExt-all-figures.txt
robExt-remove-old-figures.py
robExt-prepare-for-arxiv.py
TerrariaWiringTutorial_onscreen-robExt-compile-missing-figures.sh
.vscode/settings.json
TerrariaWiringTutorial_nightmode-robExt-all-figures.txt
TerrariaWiringTutorial_nightmode-robExt-compile-missing-figures.sh
