main
*.aux
main.log
main.maf
main.mtc
main.mtc0
main.mtc1
main.mtc2
main.mtc3
main.mtc4
main.mtc5
main.mtc6
main.mtc7
main.mtc8
main.mtc9
main.mtc10
main.mtc11
main.mtc12
main.mtc13
main.mtc14
main.mtc15
main.mtc16
main.mtc17
main.mtc18
main.mtc19
main.mtc20
main.out
main.pdf
main.toc
