name: Build LaTeX document
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v3
      - name: Create robustExternalize directory
        run: mkdir -p robustExternalize
      - name: Compile On-screen Version
        uses: xu-cheng/latex-action@v4
        with:
          root_file: TerrariaWiringTutorial_onscreen.tex
          latexmk_use_xelatex: true
          latexmk_shell_escape: true
      - name: Compile Printed Version
        uses: xu-cheng/latex-action@v4
        with:
          root_file: TerrariaWiringTutorial_printed.tex
          latexmk_use_xelatex: true
          latexmk_shell_escape: true
      - name: Compile Night Mode
        uses: xu-cheng/latex-action@v4
        with:
          root_file: TerrariaWiringTutorial_nightmode.tex
          latexmk_use_xelatex: true
          latexmk_shell_escape: true
      - name: Upload PDFs
        uses: actions/upload-artifact@v3
        with:
          name: wiring-tutorial-pdfs
          path: |
            TerrariaWiringTutorial_onscreen.pdf
            TerrariaWiringTutorial_printed.pdf
            TerrariaWiringTutorial_nightmode.pdf
