name: whitespace

on: 
  push:
    branches:
      - master
  pull_request:

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install latexindent
        run: |
          sudo apt-get update
          sudo apt-get install -y texlive-extra-utils

      - name: Check formatting
        run: |
          latexindent --GCString -t -r -l -w -c /tmp $(git ls-files '*.tex')
          ls
          git diff --exit-code

      - name: Upload Log
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          path: indent.log